# ignora i backup di All-In-One WP Migration
*.wpress
wp-content/ai1wm-backups/
wp-content/plugins/all-in-one-wp-migration/

*
!.gitignore
!wp-content/
wp-content/*
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/portfolio/
!wp-content/themes/portfolio/*
!wp-content/themes/portfolio/**/*
!vite.config.js
!package.json
!postcss.config.js
.DS_Store