@import "../settings/fonts";


.about-me {
  padding: 50px;

  .presentation {
    font-family: var(--font-base), serif;
    position: relative;
    padding: 100px 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    color: #428BBC;

    h2 {
      margin-bottom: 40px;
      font-family: var(--font-title), serif;
      font-weight: bold;
    }

    .text-about {
      p {
        font-size: 1rem;
        margin-bottom: 20px;
        line-height: 1.6;
        margin-right: 30px;
        max-width: 500px;
      }
    }

    @media (max-width: 900px) {
      flex-direction: column-reverse;
      text-align: center;
    }

    @media (max-width: 600px) {
      flex-direction: column-reverse;
      padding: 50px 20px;
    }
  }

  .circle {
    @media (max-width: 900px) {
      width: 100%;
      margin-top: 30px;
    }
  }

  /* decorations corner */
  .corner-about {
    position: absolute;
    z-index: 0;

    &.corner-top-left-about {
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
    }

    &.corner-bottom-right-about {
      bottom: 0;
      right: 0;
      transform: translate(50%, 50%) rotate(180deg);
    }

    @media (max-width: 768px) {
      width: 300px;
    }
  }

  /* decorations illustration */
  .illustration {
    position: relative;
    width: 300px;
    height: 300px;
  }

  .circle-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .circle {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
    z-index: 1;
    position: relative;
  }

  .avatar {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 450px;
    z-index: 2;
    filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.25));
    transition: transform 0.3s ease;
  }

  .lantern__chinese {
    position: absolute;
    width: 130px;
    top: -50px;
    right: -10px;
    z-index: 3;
    animation: swing 3s ease-in-out infinite;
    transform-origin: top center;

    @media (max-width: 900px) {
      width: 90px;
      top: -50px;     // 👈 aggiunto per mantenere fisso
      right: -10px;   // 👈 aggiunto per mantenere fisso
    }

    @media (max-width: 600px) {
      width: 90px;
      top: -50px;     // 👈 ancora qui
      right: -10px;   // 👈 ancora qui
    }
  }

}

@keyframes swing {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
