@import "../settings/fonts";

header {
  background: #C4E5FC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  position: relative;
  font-family: var(--font-base), serif;
  font-size: 1.1rem;

  @media (max-width: 700px) {
    padding: 30px 40px;
  }
}

.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.logo {
  height: 80px;
  cursor: pointer;
}

.container {
  margin-left: auto;
}

.menu {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
    color: #1572B6;

    &:hover {
      color: #0c5172;
      text-decoration: underline;
    }
  }
}