@import "../settings/fonts";

header {
  background: #C4E5FC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  position: relative;
  font-family: var(--font-base), serif;
  font-size: 1.1rem;

  @media (max-width: 700px) {
    padding: 30px 40px;
  }
}

.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.logo {
  height: 80px;
  cursor: pointer;
}

.container {
  margin-left: auto;
}

.menu {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
    color: #1572B6;

    &:hover {
      color: #0c5172;
    }
  }
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: inherit;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transition: transform 0.3s ease;
  }

  &:hover::after,
  &:focus::after,
  &:active::after {
    transform: translateX(-50%) scaleX(1);
  }
}
